.startTime {
    -fx-background-color: #bced80;
}

.stopTime {
    -fx-background-color: #ed8080;
}

.pointTime {
    -fx-background-color: #fffddb;
}

.record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-text-fill: #eee;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.record-sales:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.record-sales:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.record-sales Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}

#timesTable #timeColumn {
    -fx-alignment: CENTER-RIGHT;
}

#statusLabel {
    -fx-font: 48px "Arial";
}

#goodTimeText {
    -fx-font: 100px "Arial";
}

#totalTimeText {
    -fx-font: 36px "Arial";
}

#startStopButton {
    -fx-height: 100%;
    -fx-font-size: 48px;
}

#exportLink {
    -fx-font-weight: bold;
}

#versionLabel {
    -fx-text-fill: #999;
}